.userMe__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 666;
}

.userMe__div__circle::before {
  content: '';
  left: 66px;
  background: rgb(33,33,33,0.5); /*rgb(56,239,125,0.3);*/
  border-radius: 50%;
  position: relative;  
  width: 12rem;
  height: 12rem;
}

.userMe__div__circle {
  /*border-radius: 50%;*/
  position: relative;  
  max-width: 100%;
  min-width: 100px;
  min-height: 100px;
  width: 24rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding-bottom: 66px;
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0 6px 6px rgba(0, 0, 0, 0.23);*/
}

.userMe__div__circle::after {
  content: '';
  right: 110px;
  z-index: -1;
  background: rgb(33,33,33,0.7);/*rgb(17,153,142,0.7);*/
  border-radius: 50%;
  position: relative;
  width: 12rem;
  height: 12rem;
}

.userMe__div__circle img {
  min-width: 60px;
  min-height: 60px;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  filter: grayscale(100%);
  object-fit: cover;
  transition: all 0.6s ease-in;
  /*animation: psychedelic linear 6s infinite*/
}

.userMe__div__circle img:hover {
  filter: grayscale(0%);
}

.userMe__info {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 20px;
}

.userMe__info h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}

.userMe__info h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
}

.userMe__info__contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.userMe__info__contact a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

@media screen and (max-width: 640px) {
  .userMe__info h1,
  .userMe__info h2 {
    text-align: center;
  }
}

/*ANIMATIONS*/
@keyframes psychedelic {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
  }
  50% {
    -webkit-filter: hue-rotate(360deg) saturate(4) invert(0.25);
  }
  100% {
    -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
  }
}

@keyframes colorRotate {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}
